<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
	<wb-module deploy-name="testapi-createuser">
		<property name="context-root" value="testapi-createuser"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/resources"/>
		<wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/java"/>
	</wb-module>
</project-modules>
